<?xml version="1.0" encoding="UTF-8"?>
<!--<start id="preamble" /> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!--<end id="preamble" /> -->


	<!--<start id="aspectj_autoproxy" /> -->
	<!-- <aop:aspectj-autoproxy /> -->
	<!--<end id="aspectj_autoproxy" /> -->

	<!--<start id="audience_bean" /> -->
	<bean id="audience" class="com.singuloid.idam.aop.Audience" />
	<!--<end id="audience_bean" /> -->


	<bean id="eddie" class="com.singuloid.idam.aop.Instrumentalist">
		<property name="instrument">
			<bean class="com.singuloid.idam.aop.Guitar" />
		</property>
	</bean>

	<aop:config>
		<aop:aspect ref="audience">
			<aop:pointcut id="performance"
				expression="execution(* com.singuloid.idam.aop.Performer.perform(..))" />
			<aop:before method="takeSeats" pointcut-ref="performance" />
			<aop:around method="watchPerformance" pointcut-ref="performance" />
		</aop:aspect>
	</aop:config>



	<!--<start id="contestant_introducer" /> -->
	<!-- <bean class="com.springinaction.springidol.ContestantIntroducer" /> -->
	<!--<end id="contestant_introducer" /> -->


</beans>
